<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__css__/bootstrap.min.css">
<script src="__js__/jquery.min.js"></script>

<style>
.table {
	width: 100%;
	marign-top:10px;
}
.form-control{width:80%;}
.con{width:90%; height:450px;}
#pic{width:300px;}
#title{ width:400px;}
</style>
<title>内容管理</title>
</head>
<body>
<ul class="nav nav-tabs">
  <li role="presentation" ><a href="__URL__/Index">文章列表</a></li>
  <li role="presentation" class="active"><a href="#">修改文章</a></li>
</ul>

<form class="form-group" method="post" action="__URL__/update/id/{$id}" enctype="multipart/form-data">
<table border="0" class="table table-hover">
  <tbody>
    <tr>
      <td width="15%" align="right">标题：</td>
      <td width="85%">
        <div class="form-inline">
       
        <input type="text" name="title" class="form-control" id="title" value="{$title}">
         <if condition="$isindex eq 1 ">
         <input type="checkbox" name="isindex" value="1" checked>
         <else />
         <input type="checkbox" name="isindex" value="1">
         </if>
        
推荐
		<if condition="$istop eq 1 ">
         <input type="checkbox" name="istop" value="1" checked>
         <else />
         <input type="checkbox" name="istop" value="1">
         </if>
置顶
</div> </td>
      </tr>
    <tr>
      <td align="right">所属分类：</td>
      <td>
      <div class="form-inline">
      <select class="form-control" name="classname">
       <option value="{$classname}" selected >{$classname}</option>
      <volist name="classdata" id="cvo"> 
		 <option value="{$cvo.classname}">{$cvo.classname}</option>
      </volist>
      </select>
      </div>
      </td>
    </tr>   
    <tr>
      <td align="right">关键字：</td>
      <td><input type="text" name="arkey" class="form-control" value="{$arkey}"></td>
    </tr>

        <tr>
      <td align="right">描述：</td>
      <td>
      <textarea class="form-control" name="ardesc" >{$ardesc}</textarea>
      </td>
    </tr>
     <tr>
      <td height="44" align="right">时间：</td>
      <td><input  type="text"  name="subtime" class="form-control" style="width:200px;" value="{$subtime}"></td>
    </tr>
        <tr>
      <td align="right">作者：</td>
      <td><input type="text" name="write" class="form-control" style="width:200px;" value="{$write}"></td>
    </tr>
     <tr>
       <td align="right" valign="middle">标题图片： </td>
       <td valign="middle">
         <div class="form-inline">
           <input type="text"  class="form-control pic" value="{$stitlepic}"> 
           <input type="file" name="myfile" class="form-control pic" >       
           <img src="__ROOT__{$stitlepic}"  height="80"/> 
          </div>
         </td>     
     </tr>
     <tr>
       <td colspan="2" align="center">
         <script id="container" name="body" type="text/plain">{$body}</script>
         <!-- 配置文件 -->
         <script type="text/javascript" src="__public__/bdeditor/ueditor.config.js"></script>
         <!-- 编辑器源码文件 -->
         <script type="text/javascript" src="__public__/bdeditor/ueditor.all.js"></script>
         <!-- 实例化编辑器 -->
         <script type="text/javascript">
		window.UEDITOR_CONFIG.initialFrameHeight=600;
		window.UEDITOR_CONFIG.imagePathFormat="/upload/image/{yyyy}{mm}{dd}/{time}{rand:6}";
        var ue = UE.getEditor('container');
		
    </script>  
        </td>
     </tr>
    
       
            <tr>
      <td colspan="2" align="center">
      <input type="submit" value="提交" class="btn btn-primary">
      </td>
    </tr>
  </tbody>
</table>
</form>
</body>
</html>