<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__css__/bootstrap.min.css">
<script src="__js__/jquery.min.js"></script>
<style>
.table{ width:70%;}
</style>
<title>文章列表</title>
<style>
.current{border:1px solid #9F9F9F; padding:10px; margin:3px;}
.num{border:1px solid #9F9F9F; padding:10px;background-color:#E4E4E4;margin:3px;}
</style>
</head>
<body>
<a  class="btn btn-primary" href="{:U('Page/padd')}">添加单页</a>
<table width="75%"  class="table table-hover" style="margin-top:20px;">
  <tbody>
    <tr>
      <td><strong>单页标题 </strong></td>
      <td>链接</td>
     
      <td align="center"><strong>操作</strong></td>
    </tr>
    <volist name="data" id="vo">
    <tr>
      <td width="33%"><a href="__ROOT__/home/index/page/id/{$vo.id}" target="_blank">{$vo.title}</a></td>
      <td width="33%">home/index/page/id/{$vo.id}</td> 
      <td width="18%" align="center">
        <a type="button" class="btn btn-primary" href="__URL__/pedit/id/{$vo.id}"> 修改 </a>
        <a type="button" class="btn btn-danger"  href="__URL__/del/id/{$vo.id}"  onclick="return confirm('确定删除当前数据？')" >删除</a></td>
    </tr>
    
   </volist>
   <tr>
      <td colspan="4" align="center">{$page}</td>
    </tr>
  </tbody>
</table>
</body>
</html>