<!doctype html>
<html>
<head>
<meta charset="utf-8">
<link rel="stylesheet" href="__css__/bootstrap.min.css">
<title>广告管理</title>
</head>

<body>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <form action="__URL__/post" method="post" enctype="multipart/form-data"  class="form-group">
        图片地址：
        <input type="file" name="adfile" >
        <br/>
        图片描述
        <input type="text" name="adname" class="form-control">
        <br/>
        图片链接：
        <input type="text" name="adurl" class="form-control">
        <br/>
        <input type="submit" value="添加图片" class="btn btn-info">
      </form>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
<table class="table table-hover" width="500">
  <tr>
    <td width="55%" align="center">图片</td>
    <td width="18%" align="center">标题</td>
    <td width="27%" align="center">操作</td>
  </tr>
  <volist name="data" id="v">
    <tr>
      <td align="center" valign="middle"><img src="__ROOT__{$v.adfile}" height="100"/></td>
      <td align="center" valign="middle">{$v.adname}</td>
      <td align="center" valign="middle"><a href="__URL__/edit/id/{$v.id}" class="btn btn-primary">修改</a> <a href="__URL__/del/id/{$v.id}" class="btn btn-danger" onclick="return confirm('确定删除当前数据？')">删除</a></td>
    </tr>
  </volist>
</table>
</div>
</div>
</body>
</body>
</html>
